Package: com.dpkgdan.slidetoreboot
Name: Slide to Reboot
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Adds the option to reboot your device upon clicking the “power” symbol.
Maintainer: Dan Saba
Author: Dan Saba
Section: Tweaks
Version: 1.0-2
Installed-Size: 80
