Package: com.dpkgdan.slidetoreboot
Name: Slide to Reboot
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Dan Saba
Author: Dan Saba
Section: Tweaks
